<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Edad</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Empresa</th>
      <th>Rol</th>
    </tr>
  </thead>

  <tbody>
    @for (cliente of respuestaClientes()!.users; track cliente.id) {
      <tr (click)="onClienteClick(cliente)">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.firstName }}</td>
        <td>{{ cliente.lastName }}</td>
        <td>{{ cliente.age }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.phone }}</td>
        <td>{{ cliente.company.name }}</td>
        <td>{{ cliente.role }}</td>
      </tr>
    }
  </tbody>
</table>