<section class="producto-detalle">
  <h2>Detalle del producto</h2>

  <div class="producto-info">
    <div class="campo">
      <span class="etiqueta">ID</span>
      <span class="valor">{{ producto()!.id }}</span>
    </div>

    <div class="campo">
      <span class="etiqueta">Nombre</span>
      <span class="valor">{{ producto()!.nombre }}</span>
    </div>

    <div class="campo">
      <span class="etiqueta">Descripción</span>
      <span class="valor">{{ producto()!.descripcion }}</span>
    </div>

    <div class="campo precio">
      <span class="etiqueta">Precio</span>
      <span class="valor">{{ producto()!.precio }} €</span>
    </div>
  </div>
</section>
